body {
    background: linear-gradient(0deg, #000000 62%, #333333 99%) fixed no-repeat;
    color: white;
    font-family: 'poppins', sans-serif;
}

svg {
    margin-inline: 0.2em;
}

.progress svg {
    margin-inline: 0em;
    width: 10px
}

.nav-link {
    color:rgb(162, 162, 162);
}
.nav-bar .nav-link.active {
    color:rgb(255, 255, 255);
}
.navbar-toggler {
    background-color: #121212;
}
.navbar {
    box-shadow: -1px 4px 22px 6px #000000;
}

.footer-text {
    margin-top: 2em;
    color: rgb(162, 162, 162);
}
.footer-box-shadow {
    box-shadow: -1px -8px 22px 6px #000000;
}

input[type="range"]::-webkit-slider-thumb {
    width: 40%;
    -webkit-appearance: none;
    width: 1rem;
    height: 1rem;
    background-color: black;
}
.volume-icon {
    display: flex;
}
.volume-icon svg {
    margin-right: 10px;
}

@media (max-width: 759px) {
    .footer-text {
        margin-top: 0;
        color: rgb(162, 162, 162);
    }
}
