.search-input::-webkit-search-decoration,
.search-input::-webkit-search-cancel-button {
	display: none; 
}
.search-input[type=search] {
	background:rgb(70, 70, 70) url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
	border: solid 1px #ccc;
    color:white;
	padding: 9px 10px 9px 32px;
	width: 18em;
    border-radius: 10em;
    outline-color: white;
    border: none;
    transition: 0.3s;
}

.search-input[type=search]:focus,
.search-input[type=search]:hover {
    background-color: rgb(80, 80, 80);
}

.card-search-genre {
    border-radius: 15px;
    width: 200px;
    height: 200px;
    overflow: hidden;
    position: relative;
}

.card-search-genre img {
    width: 80px;
    position: absolute; 
    border-radius: 10px;
    right: -6px;
    bottom: -6px;
    transform: rotate(30deg);
}

.card-search-genre h3 {
    padding: 10px;
    font-weight: 600;
}

.btn-group .custom-btn {
    display: inline-flex;
    align-items: center;
    padding: 5px;
    border: none;
    border-radius: 20px;
    color: #ffffff;
    background-color: rgb(80, 80, 80);
    cursor: pointer;
    transition: background-color 0.5s ease, color 0.5s ease;
    font-size: 13px;
    font-weight: bold; 
}
.card-img-search {
    width: 42px;
    height: 42px;
    border-radius: 10px;
}

.btn-group .custom-btn:hover,
.btn-group .custom-btn.active {
    color: rgb(80, 80, 80);
    background-color: #ffffff;
}
