{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static "source/styles/musics.css" %}">
{% endblock %}

{% block content %}
<div class="containe-fluid m-4">
    <div class="row">
        <div class="col-lg-1">
            <h1>{{ genre.name }}</h1>
        </div>
        <div class="col-lg-10 col-md-12">
            <div class="row">
                {% for music in musics %}
                <div class="col-lg-2 col-md-6 mt-4 audio-tracks-bygenre" id="{{ forloop.counter }}">
                    <div class="card mx-auto">
                        <div class="position-relative">
                            <img src="{{ music.image.url }}" class="card-img-genres" alt="...">
                            <button type="button" class="btn btn-dark play-single-bygenre position-absolute m-3">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play play_svg" viewBox="0 0 16 16">
                                    <path d="M10.804 8 5 4.633v6.734zm.792-.696a.802.802 0 0 1 0 1.392l-6.363 3.692C4.713 12.69 4 12.345 4 11.692V4.308c0-.653.713-.998 1.233-.696z"/>
                                </svg>
                            </button>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{ music.title }}</h5>
                            <p class="card-text">{{ music.artiste }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-lg-1 col-md-12"></div>
    </div>
</div>
{{ music_list |json_script:"musics" }}
{% endblock %}
